<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Crossbrowsertesting">
<listeners>
<listener class-name="reportgeneration.Listener"></listener></listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testscript.HomeTest"/>
     <!-- <class name="testscript.AdminTest"/>
      <class name="testscript.NewsTest"/>
      <class name="testscript.LoginTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

